@font-face{
    font-family: "Quicksand-Bold";
    src : url("/fonts/Quicksand/Quicksand-Bold.ttf");
}
@font-face{
    font-family: "SourceSansPro-Regular";
    src : url("/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}    
@font-face{
    font-family: "SourceSansPro-SemiBold";
    src : url("/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf");
}  
@font-face{
    font-family: "SourceSansPro-Bold";
    src : url("/fonts/SourceSansPro/SourceSansPro-Bold.ttf");
}  
@font-face{
    font-family: "SourceSansPro-SemiBoldItalic";
    src : url("/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf");
}  

@font-face{
    font-family: "SourceSansPro-Italic";
    src : url("/fonts/SourceSansPro/SourceSansPro-Italic.ttf");
}  